<div id="build-details" data-site="{{site}}" data-name="{{ subfolder }}" data-build="{{ epoch }}" data-author="{{ author }}"></div>
<script type="text/javascript" src="js/main.js?v={{epoch}}" defer></script>