<div id="build-details" data-site="" data-name="{{ subfolder }}" data-build="{{ epoch }}" data-author="{{ author }}"></div>
<script type="text/javascript" src="/{{site}}/{{subfolder}}/js/main.js?v={{epoch}}" defer></script>