{{!-- Template: Landing page --}}

<div id="start" class="landing box">
	
	{{!-- Header with logo --}}
	<div class="box-header">
		<img class="box-header--img" src="{{@root.translations.images.logo.desktop}}" data-desktop-src="{{@root.translations.images.logo.desktop}}" data-mobile-src="{{@root.translations.images.logo.mobile}}" alt="{{@root.translations.images.logo.alt}}" role="img"/>
	</div>

	{{!-- Content --}}
	<div class="box-body">
		
		<div class="row">
			<div class="col col-54p v-middle">
				<h2 class="bg-line-50-bottom">{{translations.landing.title}}</h2>
				<h2>{{translations.landing.subtitle}}</h2>
				<p>{{translations.landing.content}}</p>
			</div>
			<div class="col col-46p">
				<img class="box-body--img" src="{{@root.translations.landing.image.desktop}}" data-desktop-src="{{@root.translations.landing.image.desktop}}" data-mobile-src="{{@root.translations.landing.image.mobile}}" alt="{{@root.translations.landing.image.alt}}" />
			</div>
		</div>

	</div>
	
	{{!-- Button row --}}
	<div class="box-footer">
		<div class="box-footer-inner">

			<div class="row">
				<div class="col col-12 mob-dir-col">
				
					<button class="button button--round button--grey" id="unsubscribe" role="button">
						{{translations.landing.unsubscribe}}
					</button>
					
					<button class="button button--round  button--green" id="start-form" role="button">
						{{translations.landing.start}}
					</button>

				</div>
			</div>

		</div>
	</div>

</div>
