<div id="start">

	<h2>{{translations.welcome}}</h2>

	<h2>{{translations.sub}}</h2>

	<p>{{translations.intro}}</p>

	<button class="round button">
		{{translations.unsubscribe}}
	</button>

	<button class="round button">
		{{translations.start}}
	</button>

</div>
